#about-section {
  background: url(../images/about-bg.jpg) no-repeat fixed center center / cover;
  display: flex;
  padding-top: 300px;
  justify-content: flex-end;
  @include lg-max {
    justify-content: center;
    padding-top: 150px;
  }
  @include tab-max {
  padding-top: 0;
  }
  .about-text { 
    background: linear-gradient(
      to bottom,
      rgba(92, 148, 49, 0.9) 0%,
      rgba(92, 148, 49, 1) 100%
    );  
    max-width: 650px;
    padding: 70px;
    transform: translateY(50px);
    margin-right: 100px;
    @include lg-max {
      margin-right: 0;
    }
    @include tab-max {
    transform: none;
    }
    @include mobile-max {
    padding: 30px;
    }
    h3 {
      color: white;
    }
    p {
      color: white;
    }
    a {
    }
  }
}
