#header-section {
  top: 0;
  position: fixed;
  z-index: 999;
  background: #fff;
  width: 100%;
  > .container {
    min-height: 90px;
    @media(min-width: 1400px) {
      padding-left: 25px;
      padding-right: 25px;
    }
    @media(max-width: 1056px){
      padding-left: 25px;
      padding-right: 25px;
    }
    @media(max-width: 384px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    .logo {
      a {
        img {
          max-width: 230px;
          @include mobile-max {
            max-width: 180px;
          }
          @include xs-max {
            max-width: 160px;
          }
        }
      }
    }
    .toggle-menu {
      color: $primary-color;
      cursor: pointer;
      font-size: 30px;
      @include rwd-min(1057) {
        display: none;
      }
      @include mobile-max {
        font-size: 25px;
      }
    }
    .header-right {
      display: flex;
      @include rwd-max(1056) {
        display: none;
      }
      .navigation-contact {
        .header-contact {
          margin-bottom: 12px;
          @media (min-width: 1057px) and (max-width: 1300px) {
            margin-bottom: 5px;
          }
          a {
            color: $primary-color;
            margin-left: 20px;
            font-weight: 600;
            font-size: 15px;
            @media (min-width: 1057px) and (max-width: 1300px) {
              font-size: 13px;
            }
            i {
              margin-right: 2px;
            }
          }
        }
        nav {
          > ul {
            display: flex;
            justify-content: flex-end;
            li {
              margin-left: 40px;
              font-size: 16px;
              @media (min-width: 1057px) and (max-width: 1300px) {
                margin-left: 22px;
                font-size: 14px;
              }
              a {
                font-weight: 800;
                color: $secondary-color;
                // font-family: $secondary-font;
                color: #555;
                i {
                  margin-left: 3px;
                }
              }
              &:hover {
                > a  {
                    color: $primary-color;
                }
              }
              ul {
                position: absolute;
                top: 100%;
                background-color: #333;
                padding: 10px 20px;
                display: none;
                li {
                  margin-left: 0;
                  a {
                    color: $white;
                    white-space: pre; 
                    font-size: 13px;
                    letter-spacing: .5px;
                    line-height: 30px;
                  }
                }
              }
            }
          }
        }
      }
      a.header-right-btn {
        background-color: $primary-color;
        padding: 36px 48px;
        font-weight: 700;
        margin-left: 15px;
        &:hover {
          background-color: #4F7F28;
        }
      }
    }
  }
  .mobile-menu-wrapper {
    position: fixed;
    width: 100%;
    background-color: $white;
    background-color: $primary-color;
    height: 100%;
    top: 0;
    left: 100%;
    transition: .56s;
    z-index: 999;
    overflow-y: auto;
    &.open {
      left: 0;
    }
    .container {
      height: 100%;
      display: grid;
      align-content: space-between;
      .logo-menu-close {
        min-height: 90px;
        margin-top: 5px;
        .mobile-logo {
          a {
            background: #fff;
            padding: 2px 10px;
            border-radius: 8px;
            img {
              max-width: 230px;
              @include mobile-max {
                max-width: 180px;
              }
              @include xs-max {
              max-width: 160px;
              }
            }
          }
        }
        a.mobile-menu-close {
          font-size: 30px;
          color:#fff;
          padding-left: 10px;
          padding-right: 10px;
          @include mobile-max {
            font-size: 25px;
          }
        }
      }
      nav {
        > ul {
          margin: 30px;
          li {
            a {
              color: #555;
              color: #fff;
              font-weight: 800;
              font-size: 30px;
              line-height: 50px;
            }
            ul {
              display: none;
              padding-left: 15px;
              li {
                line-height: 25px;
                a {
                  font-size: 14px;
                  line-height: 25px;
                  font-weight: 900;
                }
              }
            }
          }
        }
      }
      p {
        color: #fff;
        font-weight: 700;
      }
    }
  }
}
