#welcome-bottom-content {
    .container {
        max-width: 915px;
        h2 {
            font-size: 33px;
            br {
                @include tab-max {
                display: none;
                }
            }
        }
        p {
            margin-bottom: 25px; 
        }
        a:last-child {
            color: $primary-color;
            text-decoration: underline;
        }
    }
}